@media only screen and (max-width : 550px) {
 
    body{
        background-color: #bd6e35;
        font-family: system-ui;
        background-image: url('./image/backcover1821.png');
        background-repeat: no-repeat;
        background-size: 650px;
        
    }

    .hero-img{
        border-radius: 100vh;
        margin-left:155px;
        height: 200px;
        width: 200px;
        margin-right: 100px;
        margin-top:5px;
    }
    .grap{
        margin-top: 200px;
        margin-bottom: 30px;
        margin-left: 70px;
        margin-right: 40px;
    }
    .container{
        width: 400px;
        margin: auto;
        transition: 0.9s;
    }
    header{
        display: grid;
        grid-template-columns: 1fr 50px;
        margin-top: 30px;
    }
    
    header .shopping{
        position: relative;
        text-align: right;
    }
    header .shopping img{
        width: 30px;
    }

    .card{
        position: fixed;
        top:0;
        left: 100%;
        width: 360px;
        background-color: #453E3B;
        height: 450x;
        transition: 0.5s;
    }
    .active .card{
        left: calc(100% - 300px);
    }
    .active .container{
       transform: translateX(-200px);
    }
    .card h1{
        color: #E8BC0E;
        font-weight: 300;
        margin-left: 10;
        padding: 3 10px;
        height: 80px;
        display: flex;
        align-items: center;
    }
    .card .checkOut{
        position: absolute;
        bottom: 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    
    }
    .card .checkOut div{
        background-color: #E8BC0E;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        cursor: pointer;
    }
    .card .checkOut div:nth-child(2){
        background-color: #1C1F25;
        color: #fff;
    }
    .listCard li{
        display: grid;
        grid-template-columns: 100px repeat(3, 1fr);
        color: #fff;
        row-gap: 10px;
    }
    .listCard li div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .listCard li img{
        width: 90%;
    }
    .listCard li button{
        background-color: #fff5;
        border: none;
    }
    .listCard .count{
        margin: 0 10px;
    }
    

    /* CONTACT */
.contact .container {
    margin-top: 80px;
    text-align: center;
    background: #E9F9FF;
    padding: 5px;
    border-radius: 10px;
    background-image: url('./image/backcover3 copy.png');
    background-repeat: no-repeat;
    /* background-position: cover; */
    
}
.contact .container h3{
    margin: 20px 0px;
}
.contact .fa {
    margin-right: 20px;
    font-size: 20px;
    color: var(--blue);
}
.contact .quick-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact .quick-links ul {
    display: flex;
    list-style: none;
}
.contact .quick-links ul li {
    margin: 0px 10px;
    color: var(--dark-purple);
    font-weight: bold;
    cursor: pointer;
}
.copyright p {
    color: var(--dark-purple);
    font-weight: bold;
}
    


}